<a href="https://colab.research.google.com/github/HiagoAD/GDI2/blob/master/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
import numpy as np
import pandas as pd

## **Datasets**

In [170]:
dengue = pd.read_csv("https://raw.githubusercontent.com/HiagoAD/GDI2/master/datasets/dengue.csv", encoding ="UTF-8")
emlurb = pd.read_csv("https://raw.githubusercontent.com/HiagoAD/GDI2/master/datasets/emlurb.csv", encoding ="UTF-8")

## **Detalhamento de datasets**

In [122]:
pd.to_datetime("2020-07-08T00:00:00")

Timestamp('2020-07-08 00:00:00')

In [123]:
emlurb.head()

   _id  GRUPOSERVICO_CODIGO  ...  SITUACAO    DATA_ULT_SITUACAO
0    1                    7  ...  ATENDIDA  2020-09-23T00:00:00
1    2                    7  ...  ATENDIDA  2020-08-07T00:00:00
2    3                    7  ...  ATENDIDA  2020-11-10T00:00:00
3    4                    7  ...  ATENDIDA  2020-12-10T00:00:00
4    5                    7  ...  ATENDIDA  2020-12-14T00:00:00

[5 rows x 12 columns]

In [124]:
dengue.describe()

               _id  nu_notificacao  ...  con_fhd  complica
count  1009.000000    1.009000e+03  ...      0.0       0.0
mean    505.000000    3.487950e+06  ...      NaN       NaN
std     291.417513    4.351721e+05  ...      NaN       NaN
min       1.000000    2.759770e+05  ...      NaN       NaN
25%     253.000000    3.514737e+06  ...      NaN       NaN
50%     505.000000    3.519733e+06  ...      NaN       NaN
75%     757.000000    3.527246e+06  ...      NaN       NaN
max    1009.000000    9.022922e+06  ...      NaN       NaN

[8 rows x 108 columns]

In [125]:
dengue_data = dengue[["no_bairro_residencia", "dt_notificacao"]]
dengue_data["no_bairro_residencia"].value_counts()

IBURA                186
COHAB                 63
AREIAS                31
BOA VIAGEM            31
AFOGADOS              31
                    ...
BREJO DE BEBERIBE      1
DERBY                  1
VASCO DA GOMA          1
JAQUEIRA               1
SOLEDADE               1
Name: no_bairro_residencia, Length: 95, dtype: int64

In [126]:
dengue_data["dt_notificacao"] = pd.to_datetime(dengue_data["dt_notificacao"])

dengue_data = dengue_data.groupby(["no_bairro_residencia", "dt_notificacao"]).size().reset_index(name="CASOS_DENGUE")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [127]:

emlurb_data = emlurb[["GRUPOSERVICO_DESCRICAO", "BAIRRO", "DATA_DEMANDA"]]
emlurb_data = emlurb_data[(emlurb_data.GRUPOSERVICO_DESCRICAO == "DRENAGEM")]
emlurb_data["DATA_DEMANDA"] = pd.to_datetime(emlurb_data["DATA_DEMANDA"])

emlurb_data.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

       GRUPOSERVICO_DESCRICAO       BAIRRO         DATA_DEMANDA
count                    8340         8340                 8340
unique                      1           93                  349
top                  DRENAGEM  SANTO AMARO  2020-03-16 00:00:00
freq                     8340          436                  117
first                     NaN          NaN  2020-01-01 00:00:00
last                      NaN          NaN  2020-12-25 00:00:00

In [128]:
emlurb_data = emlurb_data.groupby(["BAIRRO", "DATA_DEMANDA"]).size().reset_index(name="CHAMADOS_EMLURB")
emlurb_data.head()

    BAIRRO DATA_DEMANDA  CHAMADOS_EMLURB
0  AFLITOS   2020-01-15                1
1  AFLITOS   2020-03-03                1
2  AFLITOS   2020-03-04                1
3  AFLITOS   2020-04-16                1
4  AFLITOS   2020-04-17                1

In [129]:
crossed_info = pd.merge(dengue_data, emlurb_data, left_on=["no_bairro_residencia","dt_notificacao"],right_on=["BAIRRO", "DATA_DEMANDA"])
crossed_info.head()

  no_bairro_residencia dt_notificacao  ...  DATA_DEMANDA CHAMADOS_EMLURB
0             AFOGADOS     2020-01-13  ...    2020-01-13               4
1             AFOGADOS     2020-01-23  ...    2020-01-23               1
2             AFOGADOS     2020-01-29  ...    2020-01-29               1
3             AFOGADOS     2020-02-03  ...    2020-02-03               1
4             AFOGADOS     2020-02-05  ...    2020-02-05               2

[5 rows x 6 columns]

In [130]:
from scipy import stats
stats.ttest_rel(crossed_info['CASOS_DENGUE'], crossed_info['CHAMADOS_EMLURB'])

Ttest_relResult(statistic=-2.049378462269129, pvalue=0.04146883067279564)



Aparentemente, não há forte correlação diária entre os pedidos de drenagem e os casos de dengue, mas há indícios de. 



Próximos passos
  * Analizar chamados não atendidos

# **Análise de chamados de drenagem não atendidos pela EMLURB x Casos de Dengue**

In [131]:
dengue_data = dengue[["no_bairro_residencia", "dt_notificacao"]]
dengue_data["no_bairro_residencia"].value_counts()

IBURA                186
COHAB                 63
AREIAS                31
BOA VIAGEM            31
AFOGADOS              31
                    ...
BREJO DE BEBERIBE      1
DERBY                  1
VASCO DA GOMA          1
JAQUEIRA               1
SOLEDADE               1
Name: no_bairro_residencia, Length: 95, dtype: int64

In [132]:
dengue_data["dt_notificacao"] = pd.to_datetime(dengue_data["dt_notificacao"])

dengue_data = dengue_data.groupby(["no_bairro_residencia", "dt_notificacao"]).size().reset_index(name="CASOS_DENGUE")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [133]:
emlurb_data = emlurb[["GRUPOSERVICO_DESCRICAO", "BAIRRO", "DATA_DEMANDA", "SITUACAO"]]
emlurb_data = emlurb_data[(emlurb_data.GRUPOSERVICO_DESCRICAO == "DRENAGEM")]
emlurb_data = emlurb_data[(emlurb_data.SITUACAO != "ATENDIDA")]
emlurb_data["DATA_DEMANDA"] = pd.to_datetime(emlurb_data["DATA_DEMANDA"])

emlurb_data.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

       GRUPOSERVICO_DESCRICAO    BAIRRO         DATA_DEMANDA    SITUACAO
count                    6351      6351                 6351        6351
unique                      1        92                  347           4
top                  DRENAGEM  AFOGADOS  2020-08-05 00:00:00  CADASTRADA
freq                     6351       327                   57        6249
first                     NaN       NaN  2020-01-01 00:00:00         NaN
last                      NaN       NaN  2020-12-25 00:00:00         NaN

In [134]:
emlurb_data = emlurb_data.groupby(["BAIRRO", "DATA_DEMANDA"]).size().reset_index(name="CHAMADOS_EMLURB")
emlurb_data.head()

    BAIRRO DATA_DEMANDA  CHAMADOS_EMLURB
0  AFLITOS   2020-01-15                1
1  AFLITOS   2020-03-03                1
2  AFLITOS   2020-03-04                1
3  AFLITOS   2020-04-17                1
4  AFLITOS   2020-05-07                1

In [138]:
crossed_info = pd.merge(dengue_data, emlurb_data, left_on=["no_bairro_residencia","dt_notificacao"],right_on=["BAIRRO", "DATA_DEMANDA"])
crossed_info.describe()

       CASOS_DENGUE  CHAMADOS_EMLURB
count    229.000000       229.000000
mean       1.545852         1.659389
std        1.838631         1.138313
min        1.000000         1.000000
25%        1.000000         1.000000
50%        1.000000         1.000000
75%        1.000000         2.000000
max       22.000000         7.000000

In [137]:
from scipy import stats
stats.ttest_rel(crossed_info['CASOS_DENGUE'], crossed_info['CHAMADOS_EMLURB'])

Ttest_relResult(statistic=-0.8150945908464697, pvalue=0.4158687761557307)

Há **forte** correlação entre casos diários de dengue com chamados de drenagem não atendidos pela EMLURB no ano de 2020.

Próximos passos:
  * Analizar novamente casos gerais, porém na escala de um mês em vez de diária

# **Análise de chamados de drenagem  x Casos de Dengue (Mensal)**

In [175]:
dengue_data = dengue[["no_bairro_residencia", "dt_notificacao"]]
dengue_data.head()

  no_bairro_residencia       dt_notificacao
0            ROSARINHO  2020-06-26T00:00:00
1         CASA AMARELA  2020-06-22T00:00:00
2          SANTO AMARO  2020-01-09T00:00:00
3               GRACAS  2020-01-03T00:00:00
4          TAMARINEIRA  2020-01-13T00:00:00

In [185]:
dengue_data["dt_notificacao"] = pd.to_datetime(dengue["dt_notificacao"], infer_datetime_format=True)

dengue_data=dengue_data.groupby([pd.Grouper(key="dt_notificacao", freq="M"), "no_bairro_residencia"]).size().reset_index(name="CASOS_DENGUE")
dengue_data.describe()

       CASOS_DENGUE
count    103.000000
mean       1.504854
std        0.540040
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000

In [181]:
emlurb_data = emlurb[["GRUPOSERVICO_DESCRICAO", "BAIRRO", "DATA_DEMANDA"]]
emlurb_data = emlurb_data[(emlurb_data.GRUPOSERVICO_DESCRICAO == "DRENAGEM")]
emlurb_data["DATA_DEMANDA"] = pd.to_datetime(emlurb_data["DATA_DEMANDA"], infer_datetime_format=True)

emlurb_data.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """

       GRUPOSERVICO_DESCRICAO       BAIRRO         DATA_DEMANDA
count                    8340         8340                 8340
unique                      1           93                  349
top                  DRENAGEM  SANTO AMARO  2020-03-16 00:00:00
freq                     8340          436                  117
first                     NaN          NaN  2020-01-01 00:00:00
last                      NaN          NaN  2020-12-25 00:00:00

In [182]:
emlurb_data = emlurb_data.groupby([pd.Grouper(key="DATA_DEMANDA", freq="M"), "BAIRRO"]).size().reset_index(name="CHAMADOS_EMLURB")
emlurb_data.describe()

       CHAMADOS_EMLURB
count       960.000000
mean          8.687500
std           9.932318
min           1.000000
25%           2.000000
50%           5.000000
75%          12.000000
max          70.000000

In [187]:
crossed_info = pd.merge(dengue_data, emlurb_data, left_on=["no_bairro_residencia","dt_notificacao"],right_on=["BAIRRO", "DATA_DEMANDA"])
crossed_info.head()

  dt_notificacao no_bairro_residencia  ...               BAIRRO CHAMADOS_EMLURB
0     2020-01-31             AFOGADOS  ...             AFOGADOS              24
1     2020-01-31            AGUA FRIA  ...            AGUA FRIA              13
2     2020-01-31        ALTO DO MANDU  ...        ALTO DO MANDU               2
3     2020-01-31  ALTO JOSE BONIFACIO  ...  ALTO JOSE BONIFACIO               2
4     2020-01-31   ALTO JOSE DO PINHO  ...   ALTO JOSE DO PINHO               3

[5 rows x 6 columns]

In [186]:
from scipy import stats
stats.ttest_rel(crossed_info['CASOS_DENGUE'], crossed_info['CHAMADOS_EMLURB'])

Ttest_relResult(statistic=-9.763741756969907, pvalue=2.7772548648085466e-17)

Nope