<a href="https://colab.research.google.com/github/HiagoAD/GDI2/blob/master/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

dengue = pd.read_csv("https://raw.githubusercontent.com/HiagoAD/GDI2/master/datasets/dengue.csv", encoding ="UTF-8")
emlurb = pd.read_csv("https://raw.githubusercontent.com/HiagoAD/GDI2/master/datasets/emlurb.csv", encoding ="UTF-8")

In [4]:
dengue["no_bairro_residencia"] = dengue["no_bairro_residencia"].astype('category')
dengue["no_bairro_residencia"].value_counts()

IBURA                186
COHAB                 63
AREIAS                31
BOA VIAGEM            31
AFOGADOS              31
                    ...
JARDIM PETROPOLIS      1
JOANA BEZERRA          1
POCO DA PANELA         1
JORDAO BAIXO           1
DERBY                  1
Name: no_bairro_residencia, Length: 95, dtype: int64

In [5]:
emlurb.head()

   _id  GRUPOSERVICO_CODIGO  ...  SITUACAO    DATA_ULT_SITUACAO
0    1                    7  ...  ATENDIDA  2020-09-23T00:00:00
1    2                    7  ...  ATENDIDA  2020-08-07T00:00:00
2    3                    7  ...  ATENDIDA  2020-11-10T00:00:00
3    4                    7  ...  ATENDIDA  2020-12-10T00:00:00
4    5                    7  ...  ATENDIDA  2020-12-14T00:00:00

[5 rows x 12 columns]

In [6]:
emlurb["BAIRRO"] = emlurb["BAIRRO"].astype('category')
emlurb['GRUPOSERVICO_DESCRICAO'] = emlurb['GRUPOSERVICO_DESCRICAO'].astype('category')
emlurb[enlurb['GRUPOSERVICO_DESCRICAO'] == 'DRENAGEM']['BAIRRO'].value_counts()

SANTO AMARO             436
BOA VIAGEM              382
AFOGADOS                328
CORDEIRO                325
SAO JOSE                290
                       ...
CIDADE UNIVERSITARIA      6
JAQUEIRA                  5
SOLEDADE                  3
PEIXINHOS                 3
PAU FERRO                 0
Name: BAIRRO, Length: 94, dtype: int64

In [7]:
from scipy import stats

merge=pd.merge(emlurb,dengue,left_on='BAIRRO',right_on='no_bairro_residencia')

Tentando ver como mudar o tipo de bairro para poder rodar os testes de hipótese

In [ ]:
merge["BAIRRO"] = merge["BAIRRO"].astype('category')
#merge["BAIRRO"].cat.codes()