<a href="https://colab.research.google.com/github/HiagoAD/GDI2/blob/master/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

## **Datasets**

In [4]:
dengue = pd.read_csv("https://raw.githubusercontent.com/HiagoAD/GDI2/master/datasets/dengue.csv", encoding ="UTF-8")
emlurb = pd.read_csv("https://raw.githubusercontent.com/HiagoAD/GDI2/master/datasets/emlurb.csv", encoding ="UTF-8")

In [5]:
dengue["no_bairro_residencia"] = dengue["no_bairro_residencia"].astype('category')
dengue["no_bairro_residencia"].value_counts()

IBURA                186
COHAB                 63
AREIAS                31
BOA VIAGEM            31
AFOGADOS              31
                    ...
JARDIM PETROPOLIS      1
JOANA BEZERRA          1
POCO DA PANELA         1
JORDAO BAIXO           1
DERBY                  1
Name: no_bairro_residencia, Length: 95, dtype: int64

## **Detalhamento de datasets**

In [6]:
emlurb.head()

   _id  GRUPOSERVICO_CODIGO  ...  SITUACAO    DATA_ULT_SITUACAO
0    1                    7  ...  ATENDIDA  2020-09-23T00:00:00
1    2                    7  ...  ATENDIDA  2020-08-07T00:00:00
2    3                    7  ...  ATENDIDA  2020-11-10T00:00:00
3    4                    7  ...  ATENDIDA  2020-12-10T00:00:00
4    5                    7  ...  ATENDIDA  2020-12-14T00:00:00

[5 rows x 12 columns]

In [14]:
emlurb.describe()

                _id  GRUPOSERVICO_CODIGO  SERVICO_CODIGO           RPA
count  87605.000000         87605.000000    87605.000000  87605.000000
mean   43803.000000            16.608630       51.750437      3.897860
std    25289.529503             5.585911       88.238726      1.655236
min        1.000000             7.000000        1.000000      1.000000
25%    21902.000000            15.000000       16.000000      3.000000
50%    43803.000000            17.000000       25.000000      4.000000
75%    65704.000000            20.000000       41.000000      6.000000
max    87605.000000            34.000000      434.000000      6.000000

In [15]:
dengue.describe()

               _id  nu_notificacao  ...  con_fhd  complica
count  1009.000000    1.009000e+03  ...      0.0       0.0
mean    505.000000    3.487950e+06  ...      NaN       NaN
std     291.417513    4.351721e+05  ...      NaN       NaN
min       1.000000    2.759770e+05  ...      NaN       NaN
25%     253.000000    3.514737e+06  ...      NaN       NaN
50%     505.000000    3.519733e+06  ...      NaN       NaN
75%     757.000000    3.527246e+06  ...      NaN       NaN
max    1009.000000    9.022922e+06  ...      NaN       NaN

[8 rows x 108 columns]

In [7]:
emlurb["BAIRRO"] = emlurb["BAIRRO"].astype('category')
emlurb['GRUPOSERVICO_DESCRICAO'] = emlurb['GRUPOSERVICO_DESCRICAO'].astype('category')
emlurb[emlurb['GRUPOSERVICO_DESCRICAO'] == 'DRENAGEM']['BAIRRO'].value_counts()

SANTO AMARO             436
BOA VIAGEM              382
AFOGADOS                328
CORDEIRO                325
SAO JOSE                290
                       ...
CIDADE UNIVERSITARIA      6
JAQUEIRA                  5
SOLEDADE                  3
PEIXINHOS                 3
PAU FERRO                 0
Name: BAIRRO, Length: 94, dtype: int64

In [8]:
emlurb.isnull().sum()

_id                          0
GRUPOSERVICO_CODIGO          0
GRUPOSERVICO_DESCRICAO       0
SERVICO_CODIGO               0
SERVICO_DESCRICAO            0
LOGRADOURO                   0
NUMERO                    1285
BAIRRO                       0
RPA                          0
DATA_DEMANDA                 0
SITUACAO                     0
DATA_ULT_SITUACAO            0
dtype: int64

In [10]:
dengue.isnull().sum()

_id                  0
nu_notificacao       0
tp_notificacao       0
co_cid               0
dt_notificacao       0
                  ...
plasmatico        1009
evidencia         1009
plaq_menor        1009
con_fhd           1009
complica          1009
Length: 127, dtype: int64

In [ ]:
from scipy import stats

merge=pd.merge(emlurb,dengue,left_on='BAIRRO',right_on='no_bairro_residencia')

Tentando ver como mudar o tipo de bairro para poder rodar os testes de hipótese

In [ ]:
merge["BAIRRO"] = merge["BAIRRO"].astype('category')
#merge["BAIRRO"].cat.codes()